.edit-btn {
    border: 3px solid #1C74BB !important;
    color: #1C74BB !important;
}

.download-btn {
    background-color: #1C74BB !important;
    color: white !important;
}

/* .guarator-icon {
    width: 80px;
    height: 80px;
   margin: auto;
} */